html
  head
    meta(name="twitter:card", content="summary")
    meta(name="twitter:title", content=`${score.username}さんの創作譜面`)
    meta(name="twitter:description", content=`${score.comment}`)
    meta(name="twitter:image", content=`http://i.ytimg.com/vi/${score.video_id}/mqdefault.jpg`)
    meta(name="twitter:url", content=`http://editmaster.solt9029.com/scores/${score.id}`)
    meta(name="twitter:site", content="@solt9029")
    meta(name="twitter:creator", content="@solt9029")
