// development
let Api = {
  host: 'localhost',
  port: 8051,
};

// production
if (process.env.NODE_ENV === 'production') {
  Api = {
    host: 'editmasterapi.solt9029.com',
    port: 80,
  };
}

export default Api;
